<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>答题系统</title>
</head>

<style type="text/css">
    * {
        font-size: 18px;
        padding: 0;
        margin: 0;
    }
    .main {
        width: 1200px;
        height: 600px;

    }
    .question {
        position: fixed;
        margin-left: 15px;
        width: 580px;
        display:inline-block;
        /*overflow-y: scroll;*/
        /*overflow-x: hidden;*/
    }
    .process {
        margin-left: 620px;
        /*border: 1px solid black;*/
        width: 640px;
        margin-bottom: 30px;
        display:inline-block;
        /*overflow-y: auto;*/
    }
    .sendbtn {
        display:block;
        margin-left: 200px;
        width: 100px;
        height: 29px;
        bottom: 5px;
        right: 10px;
    }
    .text{
        text-align:center;
        padding:0px 0px;
        width:100px;
    }
</style>

<style>
    html,body {
        font-size: 14px;
        font-family: "微软雅黑", Helvetica, Tahoma, Arial, sans-serif;
        color: #000;
        margin: 0;
        padding: 0;
    }
    img {
        border: 0;
    }
    input {
        border-bottom: 1px solid #000;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
</style>

<script type="text/javascript">
    // <![CDATA[
    let url = window.location.href;
    let s = url.split("/");
    let questionid = s[s.length-1];
    let count = 0;

    let urlMap = new Map();
    // urlMap.set("1","网孔法");
    // urlMap.set("2","节点法");
    // urlMap.set("3","叠加原理");
    urlMap.set("4","戴维南");

    let questionName = urlMap.get(questionid);
    let subquesIDarr = null;
    let pointarr = null;
    let answer = null;
    let answerID = null;
    let map = new Map();//选项内容和知识点的kv对
    let errorOption = new Set();

    window.onload = function() {
        ajax({
            url: "http://localhost:8081/solution/getDescriptionBYId?id=" + questionid,
            success: function (res) {
                load(res);
            }
        })
        ajax({
            url:"http://localhost:8081/solution/getSubquesIDsBYId?id=" + questionid,
            success: function(res) {
                let subquesID = res;
                subquesIDarr = subquesID.split(",");
            }
        })
        ajax({
            url:"http://localhost:8081/solution/getPointIDsBYId?id=" + questionid,
            success: function(res) {
                let pointIDs = res;
                pointarr = pointIDs.split(",");
            }
        })

    };

    function load(res) {
        let body = document.body;
        let main = document.createElement('div');
        let newbr = document.createElement('br');
        let question = document.createElement('div');
        let div = document.createElement('div');
        let img = document.createElement('img');
        div.style.textAlign = 'center';
        main.id = 'main';
        main.className = 'main';

        question.id = 'question';
        question.className = 'question';
        question.innerHTML = res;

        img.src = questionName + '/picture1.png';
        img.id = 'img';

        question.appendChild(newbr);
        div.appendChild(img);
        question.appendChild(div);

        main.appendChild(question);
        body.appendChild(main);

        button();
    }
    function button() {
        let main = document.getElementById('main');
        let process = document.createElement('div');
        let button = document.createElement('button');

        process.className = 'process';
        process.id = 'process';

        button.id = 'sendbtn';
        button.className = 'sendbtn';
        button.addEventListener("click",f);
        button.innerHTML = '开始解题';

        process.appendChild(button);
        main.appendChild(process);
    }
    function f(){
        ajax({url:"http://localhost:8081/solution/getAnalysisBYId?id=" + questionid,
            success: function(res){
                analysis(res);
            }
        })
    }
    function analysis(res){
        let process = document.getElementById('process');
        let newbr = document.createElement('br');
        let button = document.getElementById('sendbtn');
        button.parentNode.replaceChild(newbr,button);
        process.innerHTML += res;

        let newbutton = document.createElement('button');
        newbutton.id = 'sendbtn0';
        newbutton.className = 'sendbtn';
        newbutton.innerHTML = '列方程';
        newbutton.addEventListener("click", equation);
        process.appendChild(newbr);
        process.appendChild(newbutton);

        let img = document.getElementById('img');
        let img1 = document.createElement('img');
        img1.src = questionName + '/picture2.png';
        img.parentElement.replaceChild(img1, img);
    }
    function equation() {
        if((count > 0) && !check()){
            alert("选择错误，请重新选择！");
        } else{
            if (count == 1) {
                addPicture('part1.png');
            }
            if (count == 6) {
                addPicture('part2.png');
            }
            if (count < subquesIDarr.length) {
                let subquesid = subquesIDarr[count];
                ajax({
                    url: "http://localhost:8081/solution/getContentBYSubquesId?id=" + subquesid,
                    success: function (res) {
                        createSubquestion(res);
                    }
                });
                ajax({
                    url: "http://localhost:8081/solution/getAnswerBYSubquesId?id=" + subquesid,
                    success: function (res) {
                        answerID = res;
                    }
                });
                ajax({
                    url: "http://localhost:8081/solution/getOptionIDBYSubquesId?id=" + subquesid,
                    success: function (res) {
                        let options = res;
                        if (res.length == 0) {
                            return;
                        }
                        let optionsArr = options.split(",");

                        for (let i = 0; i < optionsArr.length; i++) {
                            let content = null;
                            let optionID = optionsArr[i];
                            let map1 = new Map();//选项ID和内容的kv对
                            ajax({
                                url: "http://localhost:8081/solution/getContentBYOptionId?id=" + optionID,
                                success: function (res) {
                                    content = res;
                                    map1.set(optionID, content);
                                    if (optionID == answerID.toString()) {
                                        answer = res;
                                    }
                                }
                            });
                            ajax({
                                url:"http://localhost:8081/solution/getPointIDBYOptionID?id=" + optionID,
                                success: function(res) {
                                    if(res == "") {
                                        return;
                                    }
                                    let pointID = res;
                                    ajax({
                                        url: "http://localhost:8081/solution/getContentBYPointId?id=" + pointID,
                                        success: function (res) {
                                            map.set(map1.get(optionID), res);
                                        }
                                    });
                                }
                            })
                            if ((content.substr(content.length-4, 4) == ".png") || (content.substr(content.length-4, 4) == ".jpg")) {
                                createPicOption(content, 65 + i);
                            }
                            else {
                                createOption(content, 65 + i);//65是A对应的ASCII码
                            }
                        }
                    }
                });
                newButton("提交");
            } else {
                over();
            }
        };
    }
    function addPicture(pic) {
        let question = document.getElementById('question');
        let img = document.createElement('img');
        let div = document.createElement('div');
        div.style.textAlign = 'center';
        img.src = questionName + '/' + pic;
        img.id = 'img';
        div.appendChild(img);

        question.appendChild(div);

    }
    function createSubquestion(res){
        let process = document.getElementById('process');
        let newbr = document.createElement('br');
        let button = document.getElementById('sendbtn' + count);
        count += 1;
        let newdiv = document.createElement('div');
        newdiv.id = 'div' + count;
        button.parentNode.replaceChild(newbr,button);
        newdiv.innerHTML += res;
        process.appendChild(newdiv);
    }
    function createOption(content, code){
        let newdiv = document.getElementById('div' + count);
        let div = document.createElement('div');
        let input = document.createElement('input');
        input.type = 'radio';
        input.name = 'option' + count; //选项名，每个小问题的几个选项的选项名相同，方便批改
        input.value = content;

        div.appendChild(input);
        div.innerHTML += String.fromCharCode(code) + ". " + content;
        newdiv.appendChild(div);
    }
    function createPicOption(content, code){
        let newdiv = document.getElementById('div' + count);
        let div = document.createElement('div');
        let input = document.createElement('input');
        let newbr = document.createElement('br');

        input.type = 'radio';
        input.name = 'option' + count;
        input.value = content;

        div.appendChild(input);
        div.innerHTML += String.fromCharCode(code) + ". ";
        div.appendChild(newbr);
        let picArr = content.split(",");
        for (let i of picArr) {
            let img = document.createElement('img');
            img.src = questionName + '/' + i;
            img.id = 'img';
            div.appendChild(img);
        }
        newdiv.appendChild(div);}
    function newButton(content){
        let newdiv = document.getElementById('div' + count);
        let newbutton = document.createElement('button');
        let newbr = document.createElement('br');
        newbutton.id = 'sendbtn' + count;
        newbutton.className = 'sendbtn';
        newbutton.innerHTML = content;
        newbutton.addEventListener("click", equation);
        newdiv.appendChild(newbr);
        newdiv.appendChild(newbutton);
        document.scrollingElement.scrollTop = document.scrollingElement.scrollHeight;

    }
    function check() {
        let obj = document.getElementsByName("option" + count);
        for(let i = 0; i < obj.length; i++){
            if(obj[i].checked){
                if(obj[i].value == answer){
                    return true;
                }else{
                    errorOption.add(obj[i].value);
                    return false;
                }
            }
        }

    }
    function over(){
        highLight();
        let process = document.getElementById('process');
        let newbr = document.createElement('br')
        let newdiv = document.createElement('div' + (count+1));
        let button = document.getElementById('sendbtn' + count);
        button.parentNode.replaceChild(newbr,button);
        ajax({
            url: "http://localhost:8081/solution/getAnswerByID?id=" + questionid,
            success: function (res) {
                newdiv.innerHTML += res;
            }
        });
        newdiv.appendChild(newbr);
        newdiv.appendChild(newbr);
        let conclusion = document.createElement("div");
        let text = "你对以下知识点的掌握还不够："+"\n";
        conclusion.innerHTML += text;
        conclusion.appendChild(newbr);
        for (let i of errorOption){
            let point = document.createElement("div");
            if (map.has(i)) {
                point.innerHTML += map.get(i);
            } else {
                continue;
            }
            conclusion.appendChild(point);
        }
        newdiv.appendChild(conclusion);
        process.appendChild(newdiv);
        document.scrollingElement.scrollTop = document.scrollingElement.scrollHeight;
    }
    function highLight(){
        let options = document.getElementsByTagName('input');
        for(let i = 0; i < options.length; i++){
            if(errorOption.has(options[i].value)) {
                options[i].parentElement.style.color = "red";
            }
        }
    }
    function ajax(obj) {
        let xhr = null;
        if (window.ActiveXObject) {
            xhr = new ActiveXObject('Microsoft.XMLHTTP')
        } else {
            xhr = new XMLHttpRequest();
        }

        //打开与服务器的连接
        if (obj.method) {
            xhr.open(obj.method, obj.url, false);
        } else {
            xhr.open('get', obj.url, false);
        }
        xhr.setRequestHeader("Content-Type",
            "application/x-www-form-urlencoded");
        xhr.setRequestHeader("Authorization",
            "APPCODE 3e9dfb924f464e9593a95f9d2bbf4348")

        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                //数据接收完毕
                if (xhr.status == 200) {
                    //console.log('请求成功',xhr.responseText)
                    if (obj.success) {
                        obj.success(xhr.responseText)
                    }

                } else {
                    //console.log(xhr.status,'请求出错')
                    if (obj.failure) {
                        obj.failure('请求失败')
                    }
                }
            }
        }
        if (obj.method == undefined || obj.method.toLowerCase() == 'get') {
            xhr.send(null);
        } else {
            xhr.send(obj.params);
        }
    }
    // ]]>
</script>

<body>
</body>
</html>